
.form__button {
    display: block;
    margin: auto;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    border-width: 1.5px;
    margin-bottom: 10px;
    border-color: rgb(172, 170, 170);
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: 700;
}

.form__button:hover {
    cursor: pointer;
}

.form__button--green {
    background-color: #729E2E;
    color: white;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.form__button--google img {
    width: 40px;
    vertical-align: middle;
}

