.sub-banner{
    background-color: #63af2b;
    color: white;
    padding: 20px 100px;
    text-align: center;
} 

.sub-banner__title{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.sub-banner__input{
    padding: 20px;
    width: 300px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.sub-banner__input::placeholder {
    font-size: 1.2rem;
    font-weight: 200;
    color: rgb(172, 170, 170);
}

@media (max-width: 600px) {

    .sub-banner {
        text-align: center;
        padding:20px 0;
    }
}