.desafio__logo {
    object-fit: cover;
    width: 55px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: 100px;
}

.desafio__parrafo {
    font-weight: 700;
    font-size: 1.5rem;
    display: inline-block;
    padding-left: 21px;
}


.logo-desafio-s__imagen {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.logo-desafio-s__parrafo {
    font-weight: 400;
    font-size: 1rem;
    display: inline-block;
    padding-left: 13px;
}

@media (max-width: 600px) {

    .desafio__logo {
        margin: 0;
    }

    .logo-desafio-s {
        display: none;
    }
}